.text {
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  margin-bottom: 32px;
}

.text_theme_light {
  color: rgba(255, 255, 255, 0.8);
}

.text_theme_dark {
  color: rgba(20, 16, 41, 0.6);
}