@import "styles/vars.scss";

.wrapper-dropdown {
  /* Size and position */
  position: relative;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  /* Styles */
  border-radius: 24px;
  background-color: rgba(224, 224, 255, 0.02);
  cursor: pointer;
  outline: none;

  /* Font settings */
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ffffff;

  span {
    margin-left: 10px;
  }
  &:hover {
    background-color: rgba(20, 16, 41, 0.02);
  }
}

.wrapper-dropdown .dropdown {
  /* Size &amp; position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
 
    /* Styles */
    border-radius: 24px;
    box-shadow: 0 16px 16px -4px rgba(20, 16, 41, 0.24), 0 4px 8px -1px rgba(20, 16, 41, 0.24), 0 0 1px 0 rgba(20, 16, 41, 0.4);
    background-color: rgba(20, 16, 41, 0.02);
    font-weight: normal;
    transition: all 0.3s ease-in;
    list-style: none;
 
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.dropdown-head {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
 
.wrapper-dropdown .dropdown li {
    display: flex;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
}
.wrapper-dropdown .dropdown li a {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgba(20, 16, 41, 0.8);
		padding: 12px;
}
.language__img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.wrapper-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
  background: #fff;
}
