@import "styles/vars.scss";

.menu {
  display: flex;
  align-items: center;
  li {
    text-align: center;
  }
  & a {
    display: inline-block;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}

.menu_position_header {
  li {
    a {
      padding: 10px 30px;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: right;
      color: #ffffff;
    }
  }
}

.menu_position_footer {
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    a {
      text-transform: uppercase;
      padding: 12px 12px;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: 1px;
      color: rgba(20, 16, 41, 0.8);
    }
    @media (max-width: 560px) {
      flex-basis: 50%;
    }
  }
}
.menu_position_footer_extra {
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    a {
      padding: 12px 12px;
    }
  }
  @media (max-width: 1023px) {
    flex-wrap: wrap;
    width: 100%;
    li {
      a {
        padding: 12px 0;
      }
    }
  }
}

.mobile-menu {
  max-width: 800px;
  width: 100%;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 72px;
  }
  a {
    width: 100%;
    padding: 12px 0;
    
    font-size: 14.1px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: rgba(20, 16, 41, 0.8);
    cursor: pointer;
  
    &:hover {
      opacity: 0.5;
    }
  }
}