@import "styles/vars.scss";

.button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  border-radius: 24px;
  @media (max-width: $MEDIUM) {
    width: 100%;
  }
}

.button_theme_light {
  color: #4579f5;
  box-shadow: 0 8px 8px -4px rgba(69, 121, 245, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(69, 121, 245, 0.12);
  background-color: #ffffff;
}

.button_theme_blue {
  color: #ffffff;
  box-shadow: 0 8px 8px -4px rgba(69, 121, 245, 0.12), 0 2px 4px -1px rgba(27, 10, 82, 0.12), 0 0 1px 0 rgba(69, 121, 245, 0.24);
  background-color: #4579f5;
}